
body {
    background-color: #fcc0ff;
    font-family: "Overpass Mono", sans-seri;
    font-size: 20px;
}

.input-box {
    background-color: #f87bff;
    max-width: 500px;
    margin: auto;
    margin-top: 30px;
    padding: 10px;
    border-radius: 30px;
}

.input-box h1 {
    text-align: center;
    padding: 15px;
}

.input-box form {
    background-color: #f644ff99;
    margin: 30px;
    padding: 30px;
    border-radius: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.input-box form label {
    grid-column: 1;
}

.input-box form input {
    background-color: #fcc0ff;
    border-radius: 5px;
}

.input-box form button {
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 10px;
    margin: auto;
    margin-top: 30px;
    width: 200px;
    background-color: #fcc0ff;
    border-radius: 10px;
}